# Build files
cmake-*
cmake-build*
imgui.ini
install/*
benchmark/*
wandb*
build/*
.outputs/*

# Configuration files (e.g. idea)
.*

# shared libraries
*.dll
*.so
*.exe
slam
*git.h*

# Commit the .gitignore
!.gitignore
!.github
