<!-- Launches the Inertial-Lidar SLAM with default parameters on HILTI 2021 rosbag -->
<launch>
  <arg name="rosbag" required="true" doc="The path to the rosbag to play"/>
  <arg name="rate" doc="The rate of the rosbag" default="3.0"/>
  <arg name="config" default="$(find ct_icp_odometry)/params/ct_icp/urban_loco/california.yaml" />
  <arg name="kill_on_finish" default="true" />

  <include file="$(find ct_icp_odometry)/launch/ct_icp_on_rosbag.launch">
    <arg name="topic" value="/rslidar_points"/>
    <arg name="config" value="$(arg config)"/>
    <arg name="rate" value="$(arg rate)"/>
    <arg name="rosbag" value="$(arg rosbag)"/>
    <arg name="kill_on_finish" value="$(arg kill_on_finish)"/>
  </include>
</launch>

